*{
	margin: 0px;
	padding: 0px;

}

.container{

	width: 1140px;
	margin: 0 auto;

}

body {
	background:url(../img/bg.jpg) no-repeat;
	background-size: cover;
	position: center;

	
}

.text{
	width: 50%;
	float: left;
	padding-top: 60px;
}

.text h2{

color: #e8e4e4;

font-size: 28px;

font-weight: 500;
}

.text p{

color: white;

padding: 13px 0px;

font-size: 15px;
}

.text ul{

list-style: none;

color: #ead7d7;
}

.text ul li{


}

.text ul li a{


}

.btn{

margin-top: 17px;

padding: 10px 21px;

color: white;

background-color: #00a1ff;

border-radius: 21px;

font-size: 18px;

text-transform: uppercase;

border: 1px;
}

.form-main{

width: 35%;

float: left;

margin-left: 90px;

margin-top: 60px;

background-color: #2296b1;

border: 2px solid #0892b1;

border-radius: 5px;
}

.form-main h2{

color: white;

width: 50%;

margin: 0 auto;

text-align: center;

padding-bottom: 10px;

padding-top: 30px;

text-transform: uppercase;

font-weight: 500;
}

.form-main p{

width: 60%;

margin: 0 auto;

text-align: center;

color: white;

padding-bottom: 27px;
}

.btn-main{

padding: 10px 137px;

display: block;

margin: 0 auto;

background-color: blue;

color: wheat;

margin-bottom: 29px;

margin-top: 10px;

font-size: 15px;

border-bottom: 5px solid #051b02;

border-top: 1px;

border-left: 1px;

border-right: 1px;

border-radius: 4px;

text-transform: uppercase;
}

.form-one{

width: 90%;

padding: 10px;

margin-bottom: 13px;

margin-left: 7px;

border-radius: 3px;
}
